<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="userForm" (ngSubmit)="createUser(userForm.value)" >
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Usuario</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>C.I.</label>
                        <input type="text" class="form-control" formControlName="ci" id="ci"  required>
                        <p id="ciBad" style="color:red; display:none" >Campo CI debe ser unico y de 5 a 7 digitos y extension: "123456 Cbba"</p>
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" formControlName="name" id="name"  required>
                        <p id="nameBad" style="color:red; display:none" >Campo nombre solo caracteres alfabeticos</p>
                    </div>

                    <div class="form-group">
                        <label>Apellido Paterno</label>
                        <input type="text" class="form-control" formControlName="lastname" id="lastname"  required>
                        <p id="lastnameBad" style="color:red; display:none" >Campo apellido Paterno solo caracteres alfabeticos</p>
                    </div>

                    <div class="form-group">
                        <label>Apellido Materno</label>
                        <input type="text" class="form-control" formControlName="surname" id="surname"  required>
                        <p id="surnameBad" style="color:red; display:none" >Campo apellido Materno solo caracteres alfabeticos</p>
                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" class="form-control" formControlName="email" id="email"  required>
                        <p id="emailBad" style="color:red; display:none" >Campo correo invalido  ejem: user@dominio.com</p>
                    </div>
                    <div class="form-group">
                        <label>Direccion</label>
                        <textarea class="form-control" formControlName="address" id="address"  required></textarea>
                        <p id="addressBad" style="color:red; display:none" >Campo Direccion solo caracteres alfanumericos</p>
                    </div>
                    <div class="form-group">
                        <label>telefono</label>
                        <input type="tel" class="form-control" formControlName="cellphone" id="cellphone"  required>
                        <p id="cellphoneBad" style="color:red; display:none" >Campo Telefono solo caracteres numericos de 5 a 8 digitos</p>
                    </div>

                    <div class="form-group">
                        <label>Nombre De Usuario</label>
                        <input type="text" class="form-control" formControlName="username" id="username"  required>
                        <p id="usernameBad" style="color:red; display:none" >Campo Nombre de usuario solo caracteres alfanumericos</p>
                    </div>

                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" formControlName="password" id="password"  required>
                        <p id="passwordBad" style="color:red; display:none" >Campo Contraseña tiene que tener por lo menos 7 caracteres</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Agregar">
                </div>
            </form>
        </div>
    </div>
</div>